[submodule "Mask_RCNN"]
	path = Mask_RCNN
	url = https://github.com/matterport/Mask_RCNN
[submodule "Mask_RCNN_GPU_train_on_coco_dataset"]
	path = Mask_RCNN_GPU_train_on_coco_dataset
	url = https://github.com/akTwelve/tutorials.git
[submodule "cnn-facial-landmark"]
	path = cnn-facial-landmark
	url = https://github.com/yinguobing/cnn-facial-landmark.git
